[Desktop Entry]
Name=Mobydick
Comment=Download music from Funkwhale
Exec=mobydick %U
Icon=mobydick
Keywords=Music;Funkwhale;
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Network;Music;
