Source: com.github.baptistegelez.mobydick
Section: net
Maintainer: Elza Gelez <elza@gelez.xyz>
Build-Depends: debhelper (>= 10),
               rustc,
               cargo,
               desktop-file-utils,
               appstream,
               libgtk-3-dev (>= 3.22),
               libssl-dev
Standards-Version: 3.9.5
Homepage: https://github.com/BaptisteGelez/mobydick

Package: com.github.baptistegelez.mobydick
Architecture: any
Priority: optional
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Download music from your Funkwhale instance.
